@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    /* --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a; */

    --color-zinc-50: var(--color-gray-50);
    --color-zinc-100: var(--color-gray-100);
    --color-zinc-200: var(--color-gray-200);
    --color-zinc-300: var(--color-gray-300);
    --color-zinc-400: var(--color-gray-400);
    --color-zinc-500: var(--color-gray-500);
    --color-zinc-600: var(--color-gray-600);
    --color-zinc-700: var(--color-gray-700);
    --color-zinc-800: var(--color-gray-800);
    --color-zinc-900: var(--color-gray-900);
    --color-zinc-950: var(--color-gray-950);

    /* Dark Mode Colors */
    --color-cyan-50:  #E6F8FB;
    --color-cyan-100: #C9EEF6;
    --color-cyan-200: #9CE0ED;
    --color-cyan-300: #6FCFE3;
    --color-cyan-400: #36BBD4;
    --color-cyan-500: #0FA3BE;
    --color-cyan-600: #0488AA; /*base color */
    --color-cyan-700: #056E8C;
    --color-cyan-800: #07576E;
    --color-cyan-900: #083E4E;
    --color-cyan-950: #052A35;

     /* Light Mode Colors */
    --color-brown-50:  #F9F3EC;
    --color-brown-100: #F2E3D2;
    --color-brown-200: #E5C8A4;
    --color-brown-300: #D8AD77;
    --color-brown-400: #C99259;
    --color-brown-500: #B87E46;
    --color-brown-600: #A67C52; /*base color */
    --color-brown-700: #8C643E;
    --color-brown-800: #704F31;
    --color-brown-900: #543B24;
    --color-brown-950: #3C2A19;

    /* --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white); */

    --color-accent: var(--color-brown-600);
    --color-accent-content: var(--color-brown-600);
    --color-accent-foreground: var(--color-white);

    /* --color-accent: var(--color-cyan-600);
    --color-accent-content: var(--color-cyan-600);
    --color-accent-foreground: var(--color-white); */
}

@layer theme {
    .dark {
        /* --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800); */
        --color-accent: var(--color-cyan-600);
        --color-accent-content: var(--color-cyan-400);
        --color-accent-foreground: var(--color-white);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

@layer utilities {
    [x-cloak] {
        display: none !important;
    }
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

/* Custom background images */
/* @layer utilities {
  .bg-hero {
    @apply bg-cover bg-no-repeat bg-center;
    background-image: url('/storage/img/hero-bg-4.jpg');
  }

  .dark .bg-hero {
    background-image: url('/storage/img/hero-bg-dark.png');
  }
} */




